
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,
.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar {
    background-color: #f1f1f1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(143, 21, 21);
}

.navbar .logo {
    width: 100px;
    margin-right: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px;
}

.content .image {
    width: 300px;
    margin-right: 20px;
}

.content .details {
    width: 300px;
    margin-left: 20px;
}
